/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Red: #84271C
  Yellow: #ECA03D
*/

.box {
  background-color: #191210;
}

.shape {
  position: relative;
  top: 80px;
  left: 130px;
  height: 140px;
  width: 140px;
  border-radius: 100px;
  background-color: transparent;
  border: 20px solid #ECA03D;
}
.shape::after{
  content: "";
  position: absolute;
  top: 0px;
  left: -100px;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: transparent;
  border: 20px solid #ECA03D;
}