/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Red: #84271C
  Yellow: #ECA03D
*/
*{box-sizing: border-box;}
.box {
  background-color: #191210;
}

.shape {
position: relative;
  top: 125px;
  left: 175px;
  height: 50px;
  width: 50px;
  background-color: #84271C;
  border-radius: 100px;
  outline: 20px solid #ECA03D;
  outline-offset: 25px;
}

.shape::after {
  content: "";
  position: absolute;
    top: -25px;
    left: -125px;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 100px;
    border: 20px solid transparent;
    border-bottom: 20px solid #ECA03D;
    border-right: 20px solid #ECA03D;
    rotate: 45deg;
  }
  .shape::before {
    content: "";
    position: absolute;
      top: -25px;
      left: 75px;
      height: 100px;
      width: 100px;
      background-color: transparent;
      border-radius: 100px;
      border: 20px solid transparent;
      border-bottom: 20px solid #ECA03D;
      border-right: 20px solid #ECA03D;
      rotate: -135deg;
    }