/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0b2429
  Leaf yellow: #f3ac3c
  Leaf green: #998235
*/

.box {
  background-color: #0b2429;
}

.leaf {
  position: relative;
  top: 150px;
  left: 80px;
  height: 120px;
  width: 120px;
  border-radius: 100px 0px 100px 100px;
  background-color: #f3ac3c;
  box-shadow: 60px -60px #998235;
}
.leaf::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: -120px;
  left: 120px;
  height: 120px;
  width: 120px;
  border-radius: 100px 0px 100px 100px;
  background-color: #f3ac3c;
  rotate: 180deg;
}
