/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #1e3163
  Soap: #ff5f54
  Shadow: #bf4740
*/

.box {
  background-color: #1e3163;
}

.soap {
  position: relative;
  top: 90px;
  left: 97px;
  height: 101px;
  width: 202px;
  border-radius: 20px;
  background-color: #ff5f54;
  box-shadow: 0px 20px #bf4740;
}
.soap::after {
  content:"";
  position: absolute;
  top: 30px;
  left: 31px;
  height: 40px;
  width: 140px; 
  border-radius: 31px;
  background-color: #bf4740;
}