/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #AA445F
  Yellow: #F7EC7D
  Orange: #E38F66
*/

.box {
  background-color: #aa445f;
}

.shape {
  position:relative ;
  left: 75px;
  top: 50px;
  height: 200px;
  width: 100px;
  border-radius: 100px 0 0 100px;
  background-color: #F7EC7D;
}
.shape::after {
  content: "";
  position:absolute ;
  left: 150px;
  top: 0px;
  height: 200px;
  width: 100px;
  border-radius: 0 100px 100px  0;
  background-color: #E38F66;
}