/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #4f77ff
  light blue: #1038BF
  white: #ffffff
*/

.box {
  background-color: #4f77ff;
}

.shape {  content: "";
  position:relative;
  top: 50px;
  left: 160px;
  height: 80px;
  width: 80px;
  border-radius: 100px;
  background-color: #ffffff;
 
}
.shape::before{
  content: "";
  position: absolute;
  top: 40px;
  left: 0px;
  height: 80px;
  width: 80px;
  border-radius: 100px;
  background-color:#4f77ff;
}
.shape::after{
  content: "";
  position: absolute;
  top: 150px;
  left: -110px;
  width: 300px;
  height: 300px;
  rotate:45deg;
  background-color: #1038BF;
}
