/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#191919
  Orange: #E08027
  Brown: #824B20
  Yellow: #FFF58F
*/

.box {
  background-color: #191919;
}

.shape {
  position: relative;
  height: 100px;
  width: 100px;
  top: 100px;
  left: 150px;
  outline: 30px solid #824B20;
  background-color:#E08027;
  border-radius: 100px;
}
.shape::after {
  content: "";
  position: absolute;
  height: 120px;
  width: 120px;
  top: -10px;
  left: -10px;
  border: 20px solid transparent;
  background-color: transparent;
  border-radius: 100px;
  border-bottom: 20px solid #FFF58F;
  border-right: 20px solid #FFF58F;
  rotate: 45deg;
}
.shape::before{
  content: "";
  position:absolute;
  top: 40px;
  left: -10px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #FFF58F;
  box-shadow: 100px 0  #FFF58F;
}
