/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#191919
  Orange: #E08027
  Brown: #824B20
  Yellow: #FFF58F
*/

.box {
  background-color: #191919;
}

.shape {
  position: relative;
  height: 160px;
  width: 160px;
  top: 70px;
  left: 120px;
  background-color:#824B20;
  border-radius: 100px;
}
